


@media screen and (max-width: 1200px){

    

    .section_1, .section_2, .section_3, .section_4, .section_5, .section_6, .section_7, .section_8 {
        max-width: 1200px;
        height: 100%;
    }

    .container {
        max-width: 980px;
        text-align: center;
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;        
    }   


.fair-prices-cloud {
    width: 676px;
}
    /* .section_1_text {
        order: 2;
    } */
    
    /* .section_1_img1 {
        order: 1;
    } */
}

@media screen and (max-width: 980px) {

    .body, html {
        margin: 0;
        padding: 0;
        

    }
    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        text-align: justify;
    }

    h1 {
    font-weight: bold;
    font-size: 32px;
    
    }

    h2 {
        font-size: 24px;
        line-height: 29px;
        
    }

    .fair-prices-cloud {
        display: none;
    }
    .section_1, .section_2, .section_3, .section_4, .section_5, .section_6, .section_7, .section_8 {
        max-width: 420px;
        height: 100%;
        overflow-x:hidden;
    }
    .container {
        max-width: 327px;
        padding: 0;
       display: flex;
       flex-direction: column;
       flex-wrap: wrap; 
       overflow-x:hidden;              
    }  
    .logo {
        display: block;
        position: relative;
        text-decoration: none;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 16.6px;
        height: 26px;
        line-height: 26px;
        color: #027FC2;
        padding-left: 26px;
    }
    
    .logo-image {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 20px;
        width: 24px;
    }

    .navbarRight {        
        display: none;        
    }

    .section_1 {
        margin-top: 0;
    }

    .section_1_text {
        overflow-x: hidden;
        text-align: left;
        margin: 0;
        text-align: justify;
    }

    .section_1_text1 {
        font-size: 16px;
        text-align: justify;
    }

    .section_1_img1 {
        max-width: 328px;
        max-height: 230px;
    }

    .section_1_img1 img {
        width: 100%;
        height: 100%;
    }

    .section_1_img2 {
        max-width: 328px;
        max-height: 230px;
    }
    
    .section_1_img2 img {
        width: 100%;
        height: 100%;
    }

    .how-to-get-img {
        max-width: 328px;
        height: 100%;
    }

    .how-to-get-img img {
        width: 100%;
        height: 100%;
    }

    .user-section {
        max-width: 328px;
        height: 100%;
    }

    .user-section img {
        width: 100%;
        height: 100%;
    }
    /* section_5*/
    .automate-amazon-h2 {
        margin-right: 20px;
        text-align: justify;
        width: 100%;

    }
    .automate-amazon {
        padding: 0;
        width: 100%;
        height: 100%;
    }
    .automate-amazon-img img {
        width: 100%;
        height: 100%;
    }
    .email-automation
    /*section_6*/

    

    .email-automation {
        width: 328px;
        height: 100%;
        overflow-x: hidden;
    }
    .email-automation img {
        width: 100%;
        height: 100%;
    }
    .automate-amazon-img {
        padding: 0;
    }

    /*section_7*/

    .fair-prices-cloud, .fair-prices-h2, .button-fair-prices, .fair-prices, .fair-prices-h3 {
        display: none;
        width: 100%;
        height: 100%;
    }
    
    .prices-h2 {
        background-size: auto;
        display: contents;
        font-weight: bold;
        font-size: 106px;
        line-height: 32px;
/* identical to box height, or 30% */
        transform: rotate(-90deg);
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.2em;
        color: #FFFFFF;
        

    }

    /*section_8*/

    .negative_reviews-h2 {
        width: 328px;
    }

    .negative_reviews {
        width: 320px;
        height: 100%;
    } 

    .negative_reviews img {
        max-width: 320px;
        height: 100%;
    }
}