


@media screen and (max-width: 1200px){



    .section_1, .section_2, .section_3, .section_4, .section_5, .section_6, .section_7, .section_8 {
        max-width: 1200px;
        height: 100%;
    }

    .container {
        max-width: 980px;
        text-align: center;
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
    }


.fair-prices-cloud {
    width: 676px;
}
    
}

@media screen and (max-width: 980px) {

    .body, html {
        margin: 0;
        padding: 0;
    }

    p {
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        text-align: justify;
    }

    h1 {
        font-weight: bold;
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
        line-height: 29px;
    }

    h4 {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #027FC2;
    }

    .fair-prices-cloud {
        display: none;
    }

    .section_1, .section_2, .section_3, .section_4, .section_5, .section_6, .section_7, .section_8 {
        max-width: 420px;
        height: 100%;
        overflow-x:hidden;
    }

    .container {
       max-width: 360px;
       display: flex;
       flex-direction: column;
       flex-wrap: wrap;
       overflow-x:hidden;
       margin: 0;
    }

    .logo {
        display: block;
        position: relative;
        text-decoration: none;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 16.6px;
        height: 26px;
        line-height: 26px;
        color: #027FC2;
        padding-left: 26px;
    }

    .logo-image {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 20px;
        width: 24px;
    }

    .cross-img {
        display: initial;
    }

    .navbarRight {
        display: none;
    }

    .section_1 {
        margin-top: 0;
    }

    .section_1_text {
        overflow-x: hidden;
        text-align: left;
        margin: 0;
        text-align: justify;
        order: 1;
    }

    .section_1_text1 {
        font-size: 16px;
        text-align: justify;
        margin-left: 0px;
        order: 4;
    }

    .section_1_img1 {
        max-width: 328px;
        max-height: 230px;
        order: 0;
    }

    .section_1_img1 img {
        width: 100%;
        height: 100%;
    }

    .section_1_img2 {
        max-width: 328px;
        max-height: 230px;
        order: 3;
    }

    .section_1_img2 img {
        width: 100%;
        height: 100%;
    }

    .how-to-get-img {
        max-width: 328px;
        height: 100%;
    }

    .how-to-get-img img {
        width: 100%;
        height: 100%;
    }

    /*section_2*/

    .why-should-care-content {
        padding: 21px 13px 16px 18px;
    }

    .why-should-care {
        width: 360px;
        height: 100%;
        overflow: hidden;
        margin: 27px 11px 0 3px;
        padding: 0px 0px 0px 0px;
        text-align: left;
        box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.07), 0px 1.12694px 3.88168px rgba(0, 0, 0, 0.035);
        border-radius: 8px;
    }

    .why-should-care:nth-child(1):before, .why-should-care:nth-child(4):before,.why-should-care:nth-child(7):before {
        display: none;
    }

    .text_p {
        display: none;
    }

    .why-should-care-icon {
        box-sizing: border-box;
        width: 30px;
        margin: 0;
        padding-right: 7px;
    }

    .why-should-care-h3 {
        margin: 0;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        color: #333945;
    }

    .why-should-care h4 {
        display: flex;
    }

    .why-should-care-title {
        margin: 0;
    }

    .why-should-care:last-child {
        margin-left: 0;
    }

    .user-section {
        max-width: 328px;
        height: 100%;
    }

    .user-section img {
        width: 100%;
        height: 100%;
    }

    /* section_5*/

    .automate-amazon-h2 {
        margin-right: 5px;
        text-align: justify;
        width: 100%;
    }

    .automate-amazon {
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .automate-amazon-img img {
        width: 100%;
        height: 100%;
    }

    /*section_6*/

    .email-automation {
        width: 328px;
        height: 100%;
        overflow-x: hidden;
    }

    .email-automation img {
        width: 100%;
        height: 100%;
    }

    .automate-amazon-img {
        padding: 0;
    }

    .email-automation-img-laptop {
    display: none;
    }

    .email-automation-img-mobile {
       display: flex; 
    }

    /*section_7*/

    .section_7 {         
        background-size: 100% 0px;        
    }

    .fair-prices-cloud, .fair-prices-h2, .button-fair-prices, .fair-prices, .fair-prices-h3 {
        display: none;
        width: 100%;
        height: 100%;
    }

    .prices-h2 {
        transform: rotate(-90deg);
        transform-origin: left bottom;
        position: absolute;
        left: 65%;
        bottom: 230px;
        margin: 0;
        background: #027FC2;
        display: block;
        font-weight: bold;
        font-size: 106px;
        line-height: 1;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        letter-spacing: 1.2em;
        color: #FFFFFF;

    }

    .prices-h2div {
        position: relative;
        width: 360px;
        height: 1400px;
        background: #027FC2;
        margin-left: -15px;
    }

    .terms-and-conditions-fair-prices {
        text-align: left;
    }


    /*section_8*/

    .negative_reviews-h2 {
        width: 328px;
    }

    .negative_reviews {
        margin: 20px 0 10px 0;
        width: 360px;
        height: 100%;
        box-shadow: 0px 9px 31px rgba(0, 0, 0, 0.07), 0px 1.12694px 3.88168px rgba(0, 0, 0, 0.035);
        border-radius: 8px
    }

    .negative_reviews-h4 {
        display: flex;
        text-align: left;
    }

    .cross-img {
        min-width: 27px;
        margin-left: auto;
    }

    .negative_reviews img {
        max-width: 320px;
        height: 100%;
    }

    .negative_reviews-h4 img {
        width: 8%;
        height: auto;
        margin-right: 15px;
    }

    .negative_reviews-h4 .cross-img {        
        display: block;
        margin-left: auto;
        text-align: right;
    }

    .label-5 input:checked ~.negative_reviews .text_p5 {
        display: flex;
         
    }

    .negative_reviews p {
        display: none;
    }

    .showP {
        display: flex !important; 
    }

    .negative_reviews:last-child {
        display: none;
    }
    
    .show {
    transform: rotate(45deg);
    display: initial;
    transition: all 0.05s ease-in;
    }
}