@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Open+Sans:ital@1&family=Raleway:ital,wght@0,100;0,300;0,400;0,500;1,300;1,500&display=swap');


body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

a, span {
    color: #019BD3;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 136%;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
}

h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #027FC2;
}

.header {
    padding: 10px 0;
    background: #FFFFFF;
    border-bottom: 2px solid #DDDDDD;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px 0 15px;
}

.container:after {
    content: '';
    display: table;
    clear: both;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
}

input {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    padding: 5px 8px;
    font-family: 'Raleway', sans-serif;
}

.logo {
    display: block;
    position: relative;
    text-decoration: none;
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    height: 31px;
    line-height: 31px;
    color: #027FC2;
    padding-left: 47px;
}

.logo-image {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 31px;
    width: 37px;
}

.navbarRight {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.login-button {
    display: block;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #019BD3;
    color: #019BD3;
    padding: 15px 14px;
    margin-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

.button {
    display: inline-block;
    text-align: center;
    background: linear-gradient(360deg, #F2C453 0%, #FCE3A8 100%);
    border: 1px solid #CC9932;
    box-sizing: border-box;
    border-radius: 4px;
    width: 160px;
    height: 54px;
    top: 20px;
    cursor: pointer;
    text-decoration: none;
}

.free-month-button-button {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #333333;
    padding-top: 13px;
}

.colortext {
    color: #019BD3;
}

p {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #333945;
}

    /*section_1*/

.section_1 {
    margin-top: 108px;
}

.section_1_text {

    /* max-height: 192.27px; */
    max-width: 550px;
    position: relative;
    vertical-align: top;
    display:inline-block;
    margin-right: 38px;
    margin-top:55px;
}

.button-try {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 16px 24px 16px 24px;
    /* margin-top: 30px; */
    text-transform: uppercase;
    color: #333333;
}

.section_1_img1 {
    margin-top: 70px;
    max-width: 566px;
    max-height: 387.4px;
    display:inline-block;
    margin-left: 10px;
}

.section_1_img2 {
    max-width: 566px;
    max-height: 506px;
    display:inline-block;
    position: relative;
    margin-top: 55px;
}

.section_1_text1 {
    vertical-align: top;
    display:inline-block;
    max-width: 558px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #333945;
    overflow: hidden;
    flex-shrink: 2;
    margin: 90px 0 109px 25px;
}

        /*section_2*/

.section_2 {
    padding: 2% 0;
    text-align: justify;
    background-image: url(../img/background_img_section2.svg);
    z-index: -3;
}

.why-should-care-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -16px;
}

.why-should-care {
    width: 50%;
    padding: 0 16px;
    margin: 0 0 68px 0;
    position: relative;
}

.why-should-care-content {
    background: #FFFFFF;
    box-shadow: 0 62px 80px rgba(0, 0, 0, 0.07), 0px 22px 24px rgba(0, 0, 0, 0.04), 0px 6px 4px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    padding: 27px 32px 0 32px;
    z-index: 4;
    height: 100%;
    position: relative;
}

.why-should-care-title {
    margin: 0 0 27px 0;
}

.why-should-care:nth-child(1):before {
    content: '';
    display: block;
    height: 227px;
    width: 331px;
    margin-top: 50px;
    background-image: url(../img/background_sectiot2_cloud.svg);
    /* background-color: lawngreen; */
    position: absolute;
    left: 273px;
    bottom: -66px;
    z-index: 1;
}

.why-should-care:nth-child(4):before {
    content: '';
    display: block;
    height: 227px;
    width: 331px;
    margin-top: 50px;
    background-image: url(../img/background_sectiot2_cloud.svg);
    position: absolute;
    left: -17px;
    bottom: -69px;
    z-index: 1;
}

.why-should-care:nth-child(7):before {
    content: '';
    display: block;
    height: 227px;
    width: 331px;
    margin-top: 50px;
    background-image: url(../img/background_sectiot2_cloud.svg);
    position: absolute;
    left: 315px;
    bottom: 135px;
    z-index: 1;
}
.why-should-care-icon {
    vertical-align: middle;
    padding-right: 20px;
}

.section_2:after {
    content: '';
    display: table;
    clear: both;

}

.why-should-care-h3 {
    margin-left: 7%;
    max-width: 1018px;
    text-align: justify;
}

    /* section_3*/

.section_3 h2 {
    text-align: center;
}

.how-to-get-topic {
    margin: 40px 0;
}

.how-to-get {
    vertical-align: top;
    display:inline-block;
    max-width: 566px;
    max-height: 100%;
}

.how-to-get-img {
    display:inline-block;
    }

    /*section_4*/

.section_4 {
    background-color: #F4FBFF;
    padding-top: 6%;
}

.user-section {
    display:inline-block;
    vertical-align: middle;
    max-width: 566px;
    max-height: 100%;
    padding-bottom: 9%;
}

.user-section:nth-child(odd) {
    margin-right: 2%;
}

   /*section_5*/

.automate-amazon-h2 {
    padding: 7% 0;
}

.automate-amazon {
    max-width: 548px;
    max-height: 100%;
    display: inline-block;
    padding: 2% 2% 7% 2%;
}

.automate-amazon-img {
    padding-left: 3%;
    display: inline-block;
}

    /*section_6*/

.section_6 {
    background-color:  #F4FBFF;
}

.email-automation {
    max-width: 565px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

    /*section_7*/
.prices-h2 {
    display: none;
}
.section_7 {
    z-index: -1;
    background:linear-gradient(180deg, #0181C1 0%, #2DB4D6 100%) no-repeat;
    background-size: 100% 419px;
    display: flex;
}

.fair-prices-cloud img:last-child {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    z-index: 11;
}

.fair-prices-cloud {
    display: flex;
    position: absolute;
    z-index: 10;
    flex-direction: row;
    width: 1100px;
    margin-top: 94px;
    /* margin-right: auto; */
}


.fair-prices-h2 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 42px;
    line-height: 136%;
    color: #FFFFFF;
    position: relative;
    text-align: center;
    padding-top: 65px;
    z-index: 2;
}

.fair-prices-h3 {
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 2%;
}

.button-fair-prices {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
/* identical to box height */
    color: #FFFFFF;
    background: linear-gradient(180deg, #0181C1 0%, #2DB4D6 100%);
    border: 0;
    flex-grow: 0;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px 30px;
    margin:auto;
    display:block;
    cursor: pointer;
}

.fair-prices {
    width: 270px;
    height: 661px;
    display:inline-block;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 5%;
    margin-bottom: 1%;
}


.fair-prices:nth-child(7) {
    background: #FFFFFF;
    border: 2px solid #57BAE7;
    box-sizing: border-box;
    box-shadow: 0px 62px 80px rgba(0, 0, 0, 0.07), 0px 22px 24px rgba(0, 0, 0, 0.04), 0px 6px 4px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
}

.terms-and-conditions-fair-prices {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #333945;
    padding-top: 10px;
    max-width: 650px;
    display:inline-block;

}

    /* section_8*/

.hide {
    display: none;
}
.negative_reviews_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 -16px;

}
.negative_reviews {
    background: #FFFFFF;    
    box-shadow: 0px 62px 80px rgba(0, 0, 0, 0.07), 0px 22px 24px rgba(0, 0, 0, 0.04), 0px 6px 4px rgba(0, 0, 0, 0.03);
    border-radius: 4px;    
    width: 46%;
    padding: 0 16px;
    margin: 0 20px 68px 0;
    position: relative;
}

.negative_reviews-h2 {
    margin-top: 90px;
}

.negative_reviews-h4 img {
    vertical-align: middle;
    margin-right: 20px;
}

.negative_reviews:last-child {
    background: none;
    box-shadow: none;
    vertical-align: top;
}

.negative_reviews-h4 .cross-img {
    display: none;
}


